@import url(./reset.css);
:root {
  --darkCyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --veryDarkBlue: hsl(212, 21%, 14%);
  --darkGrayishBlue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  --fontFrauces: "Fraunces", serif;
  --fontMontserrat: "Montserrat", sans-serif;
  --footerLink: hsl(228, 45%, 44%);
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--cream);
  font-family: var(--fontMontserrat);
}
main {
  max-width: 80rem;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin: 10% auto 0;
  background-color: var(--white);
  border-radius: 1rem;
}
.img-section img {
  border-radius: 1rem 0 0 1rem;
}
.img-section {
  width: 100%;
}
.text-section {
  max-width: 100%;
}
.img-section img {
  width: 100%;
  height: 100%;
}

.text-section {
  padding: 4rem;
}
.product-type {
  color: var(--darkGrayishBlue);
  letter-spacing: 0.2rem;
}

.product-name {
  font-size: 6rem;
  font-family: var(--fontFrauces);
  margin: 2rem 0;
}

.product-description {
  color: var(--darkGrayishBlue);

  line-height: 1.5;
}
.price-section {
  display: flex;
  justify-content: start;
  align-items: center;
  max-width: 100%;
  margin: 2rem 0 0;
}
.actual-price {
  font-size: 4rem;
  font-family: var(--fontFrauces);
  color: var(--darkCyan);
}
.former-price {
  font-size: 1.5rem;
  margin: 0 2rem;
  color: var(--darkGrayishBlue);
}

.add-to-cart--button {
  display: inline-flex;
  justify-content: center;
  color: var(--white);
  background-color: var(--darkCyan);
  width: 90%;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 1rem;
}
.add-to-cart--button span {
  font-weight: 700;
  margin: 0 0 0 2rem;
}
.add-to-cart--button:hover {
  box-shadow: 0 0 10rem rgba(0, 0, 0, 0.5) inset;
}
.attribution,.attribution a {
  background: var(--white);
  margin: 2rem 0;
  font-size:clamp(1rem,2vw,2.1vw);
  
}
@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
    max-width: 37.5rem;
    height: 100%;
    margin: 10% auto 0;
  }
  .img-section img {
    border-radius: 1rem 1rem 0 0;
  }
  .text-section {
    padding: 1rem;
  }
}
