@import url(./reset.css);
:root {
  --darkCyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --veryDarkBlue: hsl(212, 21%, 14%);
  --darkGrayishBlue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  --fontFrauces: "Fraunces", serif;
  --fontMontserrat: "Montserrat", sans-serif;
  --footerLink: hsl(228, 45%, 44%);
}
body {
  background-color: var(--cream);
  font-family: var(--fontMontserrat);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main {
  display: flex;
  justify-content: space-between;
  max-width: 80rem;
  background-color: var(--white);
  border-radius: 1rem;
}
.product-image {
  width: 100%;
  height: 100%;
  border-radius: 1rem 0 0 1rem;
}

.img-section,
.text-section {
  width: 100%;
}
.text-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.product-type {
  color: var(--darkGrayishBlue);
  letter-spacing: 1rem;
}
.product-name {
  color: var(--veryDarkBlue);
  margin: 3rem 0 0;
  font-family: var(--fontFrauces);
  font-size: 4.8rem;
}
.product-description {
  line-height: 2;
  margin: 2rem 0;
  letter-spacing: 0.3rem;
  font-family: var(--fontMontserrat);
  font-weight: 500;
  color: var(--darkGrayishBlue);
}
.top-content {
  margin-bottom: 1rem;
}
.bottom-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
}
.top-content,
.bottom-content {
  width: 80%;
  margin: 0 auto;
}
.actual-price {
  font-size: 4.8rem;
  font-family: var(--fontFrauces);
  color: var(--darkCyan);
  display: flex;
  justify-content: start;
  align-items: center;
}
.former-price {
  margin: 0 2rem;
  color: var(--darkGrayishBlue);
  font-size: 1.3rem;
}
.add-to-cart--button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
  margin: 1rem 0;
  width: 100%;
  background-color: var(--darkCyan);
  color: var(--white);
  border-radius: 0.5rem;
  font-weight: 700;
}
.add-to-cart--button:hover {
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.4) inset;
}
.add-to-cart--button span {
  margin: 0 2rem;
  font-size: 1.7rem;
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin: 1rem 0;
}
.attribution a {
  color: var(--footerLink);
}
@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
    max-width: 37.5rem;
    margin: 2rem 0;
  }
  .product-image {
    border-radius: 1rem 1rem 0 0;
  }
  .text-section {
    padding: 2rem 0;
  }
}
